github-username-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}

/* Filling the screen height for mobile and desktop
   accounting for the toolbar height */
@media (max-width: 599px) {
  github-username-form {
    height: calc(100vh - 56px);
  }
}

@media (min-width: 599px) {
  github-username-form {
    height: calc(100vh - 64px);
  }
}